<h2>Follows</h2>
  <table class='table'>
    <thead>
      <tr>
        <th>Image</th>
        <th>name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |users| %>
        <tr>
          <td>
            <%= link_to user_path(users) do %>
              <%= image_tag users.get_profile_image, size: '50x50' %>
            <% end %>
          </td>
          <td><%= users.name %></td>
          <td>
            <%= link_to followings_user_path(users) do %>
              <h6>フォロー<%= users.followers.count %></h6>
            <% end %>
          </td>
          <td>
            <%= link_to followers_user_path(users) do %>
              <h6>フォロワー<%= users.followeds.count %></h6>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>